doctype 5
html
  head
    title= title
    script(src='/bower_components/jquery/dist/jquery.js', type='text/javascript')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/bower_components/bootstrap/dist/css/bootstrap-theme.css', rel='stylesheet')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js', type='text/javascript')
    link(rel='stylesheet', href='/css/style.css')
  
    block content